@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 1.42px;
  line-height: 1.26;
  @media screen and (min-width: 768px) {
    font-size: 38px;
  }
}

a {
  color: inherit;
  transition: all 0.5s ease;
  &:hover {
    text-decoration: none;
    color: #f86b6b;
  }
}

.react-multi-carousel-dot-list {
  padding-right: 20px !important;
}

.reviews-slider {
  &__dots {
    padding-right: 20px;
    .react-multi-carousel-dot {
      button {
        width: 8px;
        height: 8px;
        background: #d8d8d8;
        border: none;
        position: relative;
        margin-left: 12px;
        transition: all 0.5s ease;
        &:hover {
          background: #f45757;
          &:after {
            background: #f45757;
          }
        }
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 12px;
          width: 8px;
          height: 8px;
          border-radius: 4px 4px 4px 4px;
          background: #d8d8d8;
          transition: all 0.5s ease;
        }
      }

      &--active {
        button {
          background: #f45757;
          &:after {
            left: 0;
            width: 22px;
            border-radius: 25%;
            background: #f45757;
          }
        }
      }
    }
  }
}
.react-datepicker-popper {
  .react-datepicker {
    border: none;
    background-color: #fff;
    -webkit-box-shadow: 1px 7px 30px -7px #f45757;
    box-shadow: 1px 7px 30px -7px #f45757;
    &__triangle {
      &:before {
        border: none !important;
      }
    }
    &__navigation {
      outline: none;
      &--previous {
        border-right-color: #99a2aa;
        &:hover {
          border-right-color: #f45757;
        }
      }
      &--next {
        border-left-color: #99a2aa;
        &:hover {
          border-left-color: #f45757;
        }
      }
    }

    &__header {
      background-color: #fff;
      border-bottom: 1px solid #f45757;
    }

    &__current-month,
    .react-datepicker-time__header,
    .react-datepicker-year-header,
    &__day-name,
    &__day,
    &__time-name {
      font-family: 'Nunito', sans-serif;
      color: #99a2aa;
      font-weight: 600;
      font-size: 14px;
    }
    &__day {
      &--disabled {
        background-color: #cfcfcf;
        color: #fff;
        border-radius: 4px;
      }

      &:hover {
        background-color: #ffeeee;
        color: #f45757;
      }
    }
    &__day--selected,
    &__day--in-selecting-range,
    &__day--in-range,
    &__month-text--selected,
    &__month-text--in-selecting-range,
    &__month-text--in-range,
    &__quarter-text--selected,
    &__quarter-text--in-selecting-range,
    &__quarter-text--in-range,
    &__year-text--selected,
    &__year-text--in-selecting-range,
    &__year-text--in-range,
    &__day--keyboard-selected,
    &__month-text--keyboard-selected,
    &__quarter-text--keyboard-selected,
    &__year-text--keyboard-selected {
      background-color: #f45757;
      color: #fff;
      outline: none;
      &:hover {
        background-color: #ffeeee;
        color: #f45757;
      }
    }
  }
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::before {
  border-bottom-color: #ffffff !important;
}
