@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 38px;
  letter-spacing: 1.42px;
  line-height: 1.26;
}

// .hero {
//   background: #99a2aa;
//   color: #fff;
//   .inner {
//     min-height: 65vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     .title {
//       max-width: 555px;
//       text-align: center;
//     }
//   }
// }
