@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 38px;
  letter-spacing: 1.42px;
  line-height: 1.26;
}

a {
  color: inherit;
  transition: all 0.5s ease;
  &:hover {
    text-decoration: none;
    color: #f86b6b;
  }
}

.react-multi-carousel-dot-list {
  padding-right: 20px !important;
}

.reviews-slider {
  &__dots {
    padding-right: 20px;
    .react-multi-carousel-dot {
      button {
        width: 8px;
        height: 8px;
        background: #d8d8d8;
        border: none;
        position: relative;
        margin-left: 12px;
        transition: all 0.5s ease;
        &:hover {
          background: #f45757;
          &:after {
            background: #f45757;
          }
        }
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 12px;
          width: 8px;
          height: 8px;
          border-radius: 4px 4px 4px 4px;
          background: #d8d8d8;
          transition: all 0.5s ease;
        }
      }

      &--active {
        button {
          background: #f45757;
          &:after {
            left: 0;
            width: 22px;
            border-radius: 25%;
            background: #f45757;
          }
        }
      }
    }
  }
}
